Repository a9b3/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gazelle, sqlfluff, sqlc, golang, yaml, eslint, prettier, tsc

gazelle:
  name: gazelle
  entry: ./devx/pre-commit/gazelle-update.sh
  language: system
  pass_filenames: false

sqlfluff:
  name: sqlfluff
  entry: ./devx/pre-commit/sqlfluff-hook.sh
  language: system
  pass_filenames: true

sqlc:
  name: sqlc
  entry: ./devx/pre-commit/sqlc-hook.sh
  language: system
  pass_filenames: true

golang:
  name: golang
  entry: ./devx/pre-commit/golang-hook.sh
  language: system
  pass_filenames: true

yaml:
  name: yaml
  entry: ./devx/pre-commit/yaml-hook.sh
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: ./devx/pre-commit/eslint-hook.sh
  language: system
  pass_filenames: true

prettier:
  name: prettier
  entry: ./devx/pre-commit/prettier-hook.sh
  language: system
  pass_filenames: true

tsc:
  name: tsc
  entry: ./devx/pre-commit/tsc-hook.sh
  language: system
  pass_filenames: true

chore(root): formatting
  flake.nix
  go.mod
  go.sum
  go.work
  go.work.sum
  jsconfig.json
  pnpm-lock.yaml
Due: yaml, prettier

chore(bazel): add comment
  devx/BUILD.bazel
Due: none

fix(bazel): jest test working for one example
  .bazelignore
  .eslintrc
  .eslintrc.cjs
  MODULE.bazel
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/examples/js-bin/index.test.js
  bazel/js/exports.bzl
  jest.config.js
  package.json
  pnpm-lock.yaml
  repos/_old-web-daw/package.json
Due: yaml, eslint, prettier, tsc

chore: add readme to js-bin
  bazel/js/examples/js-bin/README.md
Due: none

chore: run buildifier
  bazel/go/examples/go-server/BUILD.bazel
  bazel/image/exports.bzl
  bazel/image/server_image_package.bzl
Due: none

chore: update go doc
  docs/go.md
Due: none

chore: update jest packages
  package.json
  pnpm-lock.yaml
Due: yaml, prettier

feat: working jest_test
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/index.js
  bazel/js/examples/js-bin-with-dep/index.test.js
  bazel/js/examples/js-bin-with-dep/package.json
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/exports.bzl
Due: eslint, prettier, tsc

feat: run use_repo for different archs base images
  BUILD.bazel
  MODULE.bazel
Due: none

feat: update stuff for jest
  .eslintrc
  BUILD.bazel
  jest.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: yaml, eslint, prettier, tsc

chore: save this will fix later
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib-consumer/index.test.js
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/js/exports.bzl
  docs/working-with-bazel.md
  repos/examples/go_server/Makefile
  repos/examples/go_server/main.go
  repos/examples/k8s-playground/busybox.yaml
  repos/web-core/styles/README.md
Due: golang, yaml, eslint, prettier, tsc

fix: working jest_test for plain js files
  .bazelrc
  BUILD.bazel
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib-consumer/index.test.js
  bazel/js/exports.bzl
  jest.config.js
  jest.config.json
  tsconfig.json
Due: eslint, prettier, tsc

feat(js): add swc pkgs
  package.json
  pnpm-lock.yaml
Due: yaml, prettier

fix(js): one more example to work on
  .swcrc
  BUILD.bazel
  MODULE.bazel
  bazel/image/BUILD.bazel
  bazel/image/exports.bzl
  bazel/image/run_image.bzl
  bazel/image/run_image.sh
  bazel/js/examples/ts-bin/index.test.ts
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/exports.bzl
  jest.config.json
  package.json
  pnpm-lock.yaml
Due: yaml, eslint, prettier, tsc

fix: bazel test //bazel/... and bazel build //bazel/... working
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
Due: none

refactor: move everything code related into repos
  repos/libs/go/logger/BUILD.bazel
  repos/libs/go/logger/logger.go
  repos/libs/tf_modules/aws_cert/README.md
  repos/libs/tf_modules/aws_cert/main.tf
  repos/libs/tf_modules/aws_cert/outputs.tf
  repos/libs/tf_modules/aws_cert/variables.tf
  repos/libs/tf_modules/aws_eks/iam_policy.json
  repos/libs/tf_modules/aws_eks/main.tf
  repos/libs/tf_modules/aws_iam_group/main.tf
  repos/libs/tf_modules/aws_iam_user/main.tf
  repos/libs/tf_modules/aws_vpc/main.tf
  repos/libs/tf_modules/static_sites/.gitignore
  repos/libs/tf_modules/static_sites/README.md
  repos/libs/tf_modules/static_sites/index.js.tpl
  repos/libs/tf_modules/static_sites/main.tf
  repos/libs/tf_modules/static_sites/outputs.tf
  repos/libs/tf_modules/static_sites/variables.tf
  repos/terraform/README.md
  repos/terraform/a9b3/terraform/prod/eks/main.tf
  repos/terraform/a9b3/terraform/prod/eks/terragrunt.hcl
  repos/terraform/a9b3/terraform/prod/env.hcl
  repos/terraform/a9b3/terraform/prod/vpc/main.tf
  repos/terraform/a9b3/terraform/prod/vpc/terragrunt.hcl
  repos/terraform/a9b3/terragrunt.hcl
  repos/terraform/account.hcl
  repos/terraform/common/terraform/users/main.tf
  repos/terraform/common/terraform/users/pubkeys/sam_lau
  repos/terraform/common/terraform/users/readme.md
  repos/terraform/common/terraform/users/terragrunt.hcl
  repos/terraform/common/terragrunt.hcl
  repos/terraform/lllllllll.link/certs/main.tf
  repos/terraform/lllllllll.link/certs/terragrunt.hcl
  repos/terraform/lllllllll.link/region.hcl
  repos/terraform/lllllllll.link/route53/main.tf
  repos/terraform/lllllllll.link/route53/terragrunt.hcl
  repos/terraform/lllllllll.link/static_sites/main.tf
  repos/terraform/lllllllll.link/static_sites/terragrunt.hcl
  repos/terraform/lllllllll.link/terragrunt.hcl
  repos/terraform/region.hcl
Due: golang, prettier

refactor: rename the updated import path
  repos/examples/go_server/internal/rpc/BUILD.bazel
  repos/examples/go_server/internal/rpc/database.go
  repos/examples/go_server/internal/rpc/main.go
  repos/examples/go_server/internal/rpc/person.go
  repos/libs/go/logger/BUILD.bazel
Due: golang

chore: rm scaffold
  devx/bin/scaffold
  devx/scripts/BUILD.bazel
  devx/scripts/print_bazel_env.sh
  repos/scaffold/BUILD.bazel
  repos/scaffold/README.md
  repos/scaffold/main.go
  repos/scaffold/templates/go-lib-template/BUILD.bazel
  repos/scaffold/templates/go-lib-template/Makefile
  repos/scaffold/templates/go-lib-template/main.go
  repos/scaffold/templates/go-lib-template/main_test.go
  repos/scaffold/templates/svelte-template/.gitignore
  repos/scaffold/templates/svelte-template/.vscode/extensions.json
  repos/scaffold/templates/svelte-template/README.md
  repos/scaffold/templates/svelte-template/index.html
  repos/scaffold/templates/svelte-template/package.json
  repos/scaffold/templates/svelte-template/public/vite.svg
  repos/scaffold/templates/svelte-template/src/App.svelte
  repos/scaffold/templates/svelte-template/src/app.css
  repos/scaffold/templates/svelte-template/src/assets/svelte.svg
  repos/scaffold/templates/svelte-template/src/lib/Counter.svelte
  repos/scaffold/templates/svelte-template/src/main.ts
  repos/scaffold/templates/svelte-template/src/vite-env.d.ts
  repos/scaffold/templates/svelte-template/svelte.config.js
  repos/scaffold/templates/svelte-template/tsconfig.json
  repos/scaffold/templates/svelte-template/tsconfig.node.json
  repos/scaffold/templates/svelte-template/vite.config.ts
  repos/scaffold/templates/terraform-template/main.tf
  repos/scaffold/templates/terraform-template/terragrunt.hcl
Due: golang, eslint, prettier, tsc

chore: rm unused
  docs/adding-new-service.md
  docs/nix.md
  docs/working-with-bazel.md
Due: none

fix(go): add gazelle
  BUILD.bazel
  MODULE.bazel
  bazel/go/examples/go-server/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
Due: none

feat(go): add make file
  Makefile
  bazel/go/examples/go-server/BUILD.bazel
Due: none

chore: cleanup MODULE.bazel
  MODULE.bazel
Due: none

chore: update readme
  repos/web-core/styles/README.md
Due: none

chore: remove .vim
  .vim/coc-settings.json
Due: prettier

chore: cleanup more unused sqlfluff etc.
  .pre-commit-config.yaml
  .sqlfluff
  .sqlfluffignore
  BUILD.bazel
  MODULE.bazel
  bazel/go/exports.bzl
  bazel/image/server_image_test/server_image_test.bzl
  devx/pre-commit/gazelle-update.sh
  devx/pre-commit/sqlc-hook.sh
  devx/pre-commit/sqlfluff-hook.sh
  flake.nix
Due: yaml

chore: setup pre-commit
  .pre-commit-config.yaml
  Makefile
Due: yaml

only run precommit hooks on pre push
  .pre-commit-config.yaml
Due: yaml

SAVEPOINT
  flake.nix
  repos/daw/.node-version
  repos/daw/package-lock.json
  repos/daw/package.json
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/main/index.ts
Due: eslint, prettier, tsc

working db and ipc
  repos/daw/.gitignore
  repos/daw/electron.vite.config.ts
  repos/daw/package-lock.json
  repos/daw/package.json
  repos/daw/src/ipc/notes.ts
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/main/database/schema.sql
  repos/daw/src/preload/index.d.ts
  repos/daw/src/preload/index.ts
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/assets/main.css
Due: sqlfluff, sqlc, eslint, prettier, tsc

working ipc
  repos/daw/src/ipc/notes.ts
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/components/Results.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
Due: eslint, prettier, tsc

working
  repos/daw/package.json
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/main/database/spellfix.dll
  repos/daw/src/main/database/spellfix.dylib
  repos/daw/src/main/database/spellfix.so
  repos/daw/src/main/index.ts
  repos/daw/src/renderer/index.html
  repos/daw/src/renderer/public/fonts/ProggyTinySZ.ttf
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/assets/base.css
  repos/daw/src/renderer/src/assets/main.css
  repos/daw/src/renderer/src/assets/primatives.css
  repos/daw/src/renderer/src/assets/semantics.css
  repos/daw/src/renderer/src/components/ResultsRow.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
Due: eslint, prettier, tsc

refactor use import
  repos/daw/.eslintrc.cjs
  repos/daw/electron.vite.config.ts
  repos/daw/src/ipc/notes.ts
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/preload/index.d.ts
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
  repos/daw/src/renderer/src/lib/stores/noteStore.ts
  repos/daw/svelte.config.mjs
  repos/daw/tsconfig.json
  repos/daw/tsconfig.node.json
Due: eslint, prettier, tsc

working
  repos/daw/package.json
  repos/daw/src/main/database/init.ts
  repos/daw/src/main/database/note.ts
  repos/daw/src/main/database/schema.sql
  repos/daw/src/renderer/src/components/ResultsRow.svelte
Due: sqlfluff, sqlc, eslint, prettier, tsc

wip
  flake.nix
  repos/daw/src/main/index.ts
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/assets/icons/search.svg
  repos/daw/src/renderer/src/assets/main.css
  repos/daw/src/renderer/src/components/Results.svelte
  repos/daw/src/renderer/src/components/ResultsRow.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
  repos/daw/src/renderer/src/components/TextBox.svelte
  repos/daw/src/renderer/src/lib/shortcut.ts
  repos/daw/src/renderer/src/lib/shortcut/trie.ts
  repos/daw/src/renderer/src/lib/stores/noteStore.ts
  repos/daw/src/renderer/src/lib/stores/shortcutManager.ts
Due: eslint, prettier, tsc

save
  repos/daw/jest.config.mjs
  repos/daw/package-lock.json
  repos/daw/package.json
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/lib/shortcut.ts
  repos/daw/src/renderer/src/lib/shortcut/Manager.test.ts
  repos/daw/src/renderer/src/lib/shortcut/Manager.ts
  repos/daw/src/renderer/src/lib/shortcut/README.md
  repos/daw/src/renderer/src/lib/shortcut/trie.test.ts
  repos/daw/src/renderer/src/lib/stores/noteStore.ts
  repos/daw/src/renderer/src/lib/stores/shortcutManager.ts
  repos/daw/src/renderer/src/models/result.ts
  repos/daw/tsconfig.json
Due: eslint, prettier, tsc

css var system
  repos/daw/src/main/index.ts
  repos/daw/src/preload/index.d.ts
  repos/daw/src/renderer/index.html
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/assets/main.css
  repos/daw/src/renderer/src/assets/primatives.css
  repos/daw/src/renderer/src/assets/semantics.css
  repos/daw/src/renderer/src/assets/spacing.css
  repos/daw/src/renderer/src/components/CSSVariables.svelte
  repos/daw/src/renderer/src/components/CSSVariables/ColorPicker.svelte
  repos/daw/src/renderer/src/components/CSSVariables/Value.svelte
  repos/daw/src/renderer/src/components/CSSVariables/ValueColor.svelte
  repos/daw/src/renderer/src/components/CSSVariables/determineCSSValueType.test.ts
  repos/daw/src/renderer/src/components/CSSVariables/determineCSSValueType.ts
  repos/daw/src/renderer/src/components/GenericTable.svelte
  repos/daw/src/renderer/src/components/Popover.svelte
  repos/daw/src/renderer/src/components/Results.svelte
  repos/daw/src/renderer/src/components/ResultsRow.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
  repos/daw/src/renderer/src/components/TextBox.svelte
  repos/daw/src/renderer/src/state/CSSVars.ts
  repos/daw/src/renderer/src/state/shortcutManager.ts
  repos/daw/src/renderer/src/state/ui.ts
  repos/daw/src/renderer/src/stores/noteStore.ts
Due: eslint, prettier, tsc

css var system
  repos/daw/src/renderer/src/App.svelte
  repos/daw/src/renderer/src/components/CSSVariables/CSSVariables.svelte
  repos/daw/src/renderer/src/components/CSSVariables/ColorPicker.svelte
  repos/daw/src/renderer/src/components/CSSVariables/Input.svelte
  repos/daw/src/renderer/src/components/CSSVariables/Value.svelte
  repos/daw/src/renderer/src/components/CSSVariables/ValueColor.svelte
  repos/daw/src/renderer/src/components/GenericTable.svelte
  repos/daw/src/renderer/src/components/Popover.svelte
  repos/daw/src/renderer/src/components/ResultsRow.svelte
  repos/daw/src/renderer/src/components/Searchbar.svelte
  repos/daw/src/renderer/src/components/TextBox.svelte
  repos/daw/src/renderer/src/state/CSSVars.ts
Due: eslint, prettier, tsc

fix eslint svelte
  .eslintrc
Due: none

Path conditions:
  gazelle: any of: \.go$ and \.proto$
  sqlfluff: any of: \.sql$, but not: .*sqlc.*.sql$
  sqlc: any of: \.sql$
  golang: any of: \.go$
  yaml: any of: \.(yaml|yml)$
  eslint: any of: \.(svelte|js|ts)$
  prettier: any of: \.(svelte|js|ts|json)$
  tsc: any of: \.(svelte|js|ts)$
