Repository a9b3/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gazelle, sqlfluff, sqlc, golang, yaml, eslint, prettier, tsc

gazelle:
  name: gazelle
  entry: ./devx/pre-commit/gazelle-update.sh
  language: system
  pass_filenames: false

sqlfluff:
  name: sqlfluff
  entry: ./devx/pre-commit/sqlfluff-hook.sh
  language: system
  pass_filenames: true

sqlc:
  name: sqlc
  entry: ./devx/pre-commit/sqlc-hook.sh
  language: system
  pass_filenames: true

golang:
  name: golang
  entry: ./devx/pre-commit/golang-hook.sh
  language: system
  pass_filenames: true

yaml:
  name: yaml
  entry: ./devx/pre-commit/yaml-hook.sh
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: ./devx/pre-commit/eslint-hook.sh
  language: system
  pass_filenames: true

prettier:
  name: prettier
  entry: ./devx/pre-commit/prettier-hook.sh
  language: system
  pass_filenames: true

tsc:
  name: tsc
  entry: ./devx/pre-commit/tsc-hook.sh
  language: system
  pass_filenames: true

led solo mute record buttons
  repos/web-daw/src/components/ContextMenu/ContextMenu.svelte
  repos/web-daw/src/components/Knob/Knob.svelte
  repos/web-daw/src/components/LED/LED.svelte
  repos/web-daw/src/components/Layout.svelte
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/daw/core/mixer/Channel.ts
  repos/web-daw/src/daw/core/mixer/Mixer.ts
  repos/web-daw/src/daw/core/ui/Subscribable.ts
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepNote.svelte
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepSequencer.svelte
  repos/web-daw/src/pages/Project/track/ChannelButton.svelte
  repos/web-daw/src/pages/Project/track/ChannelControls.svelte
  repos/web-daw/src/utils/styles.ts
Due: eslint, prettier, tsc

use x4 curve to set gain
  repos/web-daw/src/components/AppShell.svelte
  repos/web-daw/src/components/Directory.svelte
  repos/web-daw/src/components/Pill.svelte
  repos/web-daw/src/components/Text.svelte
  repos/web-daw/src/daw/core/mixer/Channel.ts
  repos/web-daw/src/daw/utils/volumeControl.ts
  repos/web-daw/src/pages/Project/Finder.svelte
  repos/web-daw/src/pages/Project/track/ChannelControls.svelte
Due: eslint, prettier, tsc

add frequencydisplay
  repos/web-daw/src/components/Meter/Frequency.svelte
  repos/web-daw/src/components/Meter/StereoMeter.svelte
  repos/web-daw/src/daw/core/customNodes/Analyser.ts
  repos/web-daw/src/daw/core/customNodes/RMS/rmsprocessor.js
  repos/web-daw/src/daw/utils/volumeControl.ts
  repos/web-daw/src/pages/Project/track/ChannelControls.svelte
Due: eslint, prettier, tsc

prep
  repos/web-daw/src/components/PianoRoll/Arrangement.svelte
  repos/web-daw/src/components/PianoRoll/Key.svelte
  repos/web-daw/src/components/PianoRoll/Keyboard.svelte
  repos/web-daw/src/components/PianoRoll/PianoRoll.svelte
Due: eslint, prettier, tsc

use enum for midi event types
  repos/web-daw/src/components/Instruments/DX7/DX7.svelte
  repos/web-daw/src/components/PianoRoll/Arrangement.svelte
  repos/web-daw/src/components/PianoRoll/Key.svelte
  repos/web-daw/src/components/PianoRoll/Keyboard.svelte
  repos/web-daw/src/components/PianoRoll/PianoRoll.svelte
  repos/web-daw/src/components/PianoRoll/midiGuiUtils.ts
  repos/web-daw/src/daw/core/instruments/DX7.ts
  repos/web-daw/src/daw/core/instruments/Sampler.ts
  repos/web-daw/src/daw/core/midi/MidiClip.ts
  repos/web-daw/src/daw/core/ui/Track.ts
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepNote.svelte
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepSequencer.svelte
Due: eslint, prettier, tsc

cleanup src daw imports
  repos/web-daw/src/components/Instruments/DX7/DX7.svelte
  repos/web-daw/src/components/PianoRoll/Key.svelte
  repos/web-daw/src/components/PianoRoll/Keyboard.svelte
  repos/web-daw/src/daw/core/customNodes/Metronome.ts
  repos/web-daw/src/daw/core/index.ts
  repos/web-daw/src/daw/core/instruments/Sampler.ts
  repos/web-daw/src/daw/core/instruments/interface.ts
  repos/web-daw/src/daw/core/mixer/Channel.ts
  repos/web-daw/src/daw/core/mixer/IONode.ts
  repos/web-daw/src/daw/core/mixer/Mixer.ts
  repos/web-daw/src/daw/core/ui/Track.ts
  repos/web-daw/src/main.ts
Due: eslint, prettier, tsc

cleanup src daw imports
  repos/web-daw/src/components/tabBar/Tab.svelte
  repos/web-daw/src/daw/core/index.ts
  repos/web-daw/src/daw/core/project/Controller.ts
  repos/web-daw/src/daw/core/project/Project.ts
  repos/web-daw/src/daw/core/project/Subscribable.ts
  repos/web-daw/src/daw/core/project/Track.ts
  repos/web-daw/src/daw/core/project/index.ts
  repos/web-daw/src/daw/core/scheduler/Scheduler.ts
  repos/web-daw/src/db/editorDB.ts
  repos/web-daw/src/db/projectDB.ts
  repos/web-daw/src/pages/Project/Toolbar.svelte
  repos/web-daw/src/pages/Project/track/ClipEmpty.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
  repos/web-daw/src/store/editor.ts
Due: eslint, prettier, tsc

cleanup
  repos/web-daw/src/daw/core/Subscribable.ts
  repos/web-daw/src/daw/core/instruments/Presets.ts
  repos/web-daw/src/daw/core/instruments/wams/dx7-lib.js
  repos/web-daw/src/daw/core/midi/MidiArrangement.ts
  repos/web-daw/src/daw/core/midi/MidiClip.ts
  repos/web-daw/src/daw/core/midi/index.ts
  repos/web-daw/src/daw/core/mixer/IONode.ts
  repos/web-daw/src/daw/core/mixer/Mixer.ts
  repos/web-daw/src/daw/core/project/Controller.ts
  repos/web-daw/src/daw/core/project/Project.ts
  repos/web-daw/src/daw/core/project/Track.ts
  repos/web-daw/src/daw/core/project/index.ts
Due: eslint, prettier, tsc

workig boundaried keyboard handler
  repos/web-daw/src/app.css
  repos/web-daw/src/components/AppShell.svelte
  repos/web-daw/src/components/Boundaries/Boundary.svelte
  repos/web-daw/src/components/Boundaries/BoundaryApp.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuBoundary.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuBoundaryApp.svelte
  repos/web-daw/src/components/Boundaries/KeyboardBoundary.svelte
  repos/web-daw/src/components/Boundaries/KeyboardBoundaryApp.svelte
  repos/web-daw/src/components/Boundaries/KeyboardHelp.svelte
  repos/web-daw/src/components/Knob/useDelta.ts
  repos/web-daw/src/components/PianoRoll/MidiClipPreview.svelte
  repos/web-daw/src/components/PianoRoll/midiGuiUtils.ts
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/components/window/TopBar.svelte
  repos/web-daw/src/components/window/Window.svelte
  repos/web-daw/src/daw/core/midi/MidiClip.ts
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/Toolbar.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/store/contextMenu.ts
  repos/web-daw/src/store/index.ts
  repos/web-daw/src/store/keyboard.ts
  repos/web-daw/src/ui/boundary/manager.ts
  repos/web-daw/src/ui/contextMenu/manager.ts
  repos/web-daw/src/ui/index.ts
  repos/web-daw/src/ui/keyboard/manager.ts
  repos/web-daw/src/ui/window/manager.ts
  repos/web-daw/src/utils/domhelpers.ts
Due: eslint, prettier, tsc

working keyboard help
  repos/web-daw/.eslintrc.cjs
  repos/web-daw/src/components/Boundaries/Boundary.svelte
  repos/web-daw/src/components/Boundaries/KeyboardBoundary.svelte
  repos/web-daw/src/components/Boundaries/KeyboardBoundaryApp.svelte
  repos/web-daw/src/components/Boundaries/KeyboardHelp.svelte
  repos/web-daw/src/components/window/Window.svelte
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/ui/boundary/manager.ts
  repos/web-daw/src/ui/ds/OrderedSet.ts
  repos/web-daw/src/ui/keyboard/manager.ts
  repos/web-daw/src/utils/domhelpers.ts
Due: eslint, prettier, tsc

working keyboard help
  repos/web-daw/src/components/Boundaries/Boundary.svelte
  repos/web-daw/src/ui/boundary/manager.ts
Due: eslint, prettier, tsc

context menu
  repos/web-daw/src/components/AppShell.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuApp.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuBoundary.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuBoundaryApp.svelte
  repos/web-daw/src/components/Boundaries/ContextMenuGroup.svelte
  repos/web-daw/src/components/ContextMenu/ContextMenu.svelte
  repos/web-daw/src/components/ContextMenu/types.ts
  repos/web-daw/src/components/PianoRoll/Arrangement.svelte
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/pages/Dashboard/Recent/ProjectCard.svelte
  repos/web-daw/src/pages/Dashboard/Recent/ProjectRow.svelte
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepNote.svelte
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepSequencer.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
  repos/web-daw/src/ui/contextMenu/manager.ts
  repos/web-daw/src/ui/ds/OrderedSet.ts
  repos/web-daw/src/utils/domhelpers.ts
Due: eslint, prettier, tsc

cleanup
  repos/web-daw/src/daw/core/instruments/Sampler.ts
  repos/web-daw/src/daw/core/mixer/IONode.ts
Due: eslint, prettier, tsc

fader
  repos/web-daw/src/daw/core/instruments/Sampler.ts
  repos/web-daw/src/daw/core/mixer/Channel.ts
  repos/web-daw/src/daw/utils/volumeControl.ts
Due: eslint, prettier, tsc

cleanup
  repos/web-daw/src/components/Boundaries/KeyboardBoundaryApp.svelte
Due: eslint, prettier, tsc

working on resizer
  repos/web-daw/src/components/Boundaries/KeyboardBoundary.svelte
  repos/web-daw/src/components/ClickSelection.svelte
  repos/web-daw/src/components/Instruments/DX7/DX7.svelte
  repos/web-daw/src/components/PianoRoll/Arrangement.svelte
  repos/web-daw/src/components/PianoRoll/PianoRoll.svelte
  repos/web-daw/src/components/window/Resizer.svelte
  repos/web-daw/src/components/window/Window.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
Due: eslint, prettier, tsc

SAVEPOINT
  BUILD.bazel
  Makefile
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/workspace.bzl
  repos/examples/go_server/BUILD.bazel
  repos/examples/go_server/cmd/BUILD.bazel
  repos/examples/go_server/internal/rpc/BUILD.bazel
  repos/examples/go_server/internal/sqlc/models/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/web-daw/BUILD.bazel
Due: none

upgrade bazel 6
  .bazelversion
  .envrc
Due: none

fix command line errors
  WORKSPACE
  devx/scripts/exports.bzl
  flake.nix
  repos/examples/go_server/BUILD.bazel
  repos/examples/ts-lib-consumer/BUILD.bazel
  repos/examples/ts-lib/BUILD.bazel
Due: none

add bazel alias to scaffold
  Makefile
  repos/scaffold/BUILD.bazel
Due: none

working stuff
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  WORKSPACE
  bazel/container/exports.bzl
  bazel/go/exports.bzl
  bazel/js/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/package.json
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/js/exports.bzl
  devx/bin/pnpm
  repos/examples/go_server/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/examples/ts-lib/BUILD.bazel
  repos/web-daw/BUILD.bazel
Due: prettier

working ts bin
  BUILD.bazel
  WORKSPACE.bzlmod
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/js/examples/ts-bin/BUILD.bazel
  bazel/js/examples/ts-bin/index.ts
  bazel/js/exports.bzl
  tsconfig.json
  tsconfig.svelte.json
Due: eslint, prettier, tsc

SAVEPOINT
  .bazelrc
  .bazelversion
  .envrc
  .npmrc
  MODULE.bazel
  bazel/js/README.md
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-node-image/index.ts
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/README.md
  bazel/js/examples/ts-own-packagejson/index.ts
  bazel/js/examples/ts-own-packagejson/package.json
  bazel/js/exports.bzl
  devx/bin/pnpm
  flake.nix
  pnpm-lock.yaml
Due: yaml, eslint, prettier, tsc

update sha lock
  flake.nix
Due: none

fix stuck on machine start
  devx/scripts/start_podman.sh
  flake.nix
Due: none

move makeShell to make devenv
  Makefile
  devx/scripts/devenv.sh
  devx/scripts/start_podman.sh
  flake.nix
Due: none

stil doesn't work
  MODULE.bazel
  bazel/js/examples/ts-node-image/BUILD.bazel
Due: none

cleanup
  WORKSPACE
Due: none

start go lang support
  MODULE.bazel
  bazel/go/BUILD.bazel
  bazel/go/workspace.bzl
  repos/auth/cmd/server/BUILD.bazel
  repos/auth/cmd/server/main.go
  repos/examples/go_server/BUILD.bazel
Due: golang

working
  .bazelrc
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  README.md
  bazel/js/BUILD.bazel
  devx/scripts/devenv.sh
  docs/go.md
  docs/js.md
  flake.nix
  repos/auth/cmd/server/BUILD.bazel
  repos/auth/cmd/server/main.go
Due: golang

add daw-core daw-fe
  repos/daw-core/README.md
  repos/daw-core/package.json
  repos/daw-core/src/index.ts
  repos/daw-fe/.eslintignore
  repos/daw-fe/.eslintrc.cjs
  repos/daw-fe/.gitignore
  repos/daw-fe/.npmrc
  repos/daw-fe/.prettierignore
  repos/daw-fe/.prettierrc
  repos/daw-fe/README.md
  repos/daw-fe/package-lock.json
  repos/daw-fe/package.json
  repos/daw-fe/src/app.d.ts
  repos/daw-fe/src/app.html
  repos/daw-fe/src/routes/+page.svelte
  repos/daw-fe/static/favicon.png
  repos/daw-fe/svelte.config.js
  repos/daw-fe/tsconfig.json
  repos/daw-fe/vite.config.ts
Due: eslint, prettier, tsc

fix some go stuff
  .bazelrc
  docs/go.md
  docs/js.md
  repos/examples/go_server/Makefile
  repos/examples/go_server/cmd/root.go
  repos/examples/go_server/internal/rpc/person.go
  repos/examples/go_server/internal/sqlc/models/models-proto.go
  repos/examples/go_server/main.go
  repos/finance-data/README.md
  skaffold.yaml
Due: golang, yaml

try to fix gazelle
  BUILD.bazel
  MODULE.bazel
  repos/auth/cmd/server/BUILD.bazel
  repos/examples/go_server/BUILD.bazel
  repos/examples/go_server/cmd/BUILD.bazel
  repos/examples/go_server/internal/rpc/BUILD.bazel
  repos/examples/go_server/internal/sqlc/models/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/finance-data/cmd/BUILD.bazel
  repos/finance-data/cmd/main.go
Due: golang

fix gazelle
  MODULE.bazel
  flake.lock
  flake.nix
  repos/auth/cmd/server/main.go
Due: golang

leave comment for nixpkg url
  flake.nix
Due: none

working js image for bazel
  .bazelrc
  MODULE.bazel
  bazel/go/examples/go-image/BUILD.bazel
  bazel/go/examples/go-image/Dockerfile
  bazel/go/examples/go-image/main.go
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/index.ts
  flake.nix
  package.json
Due: golang, eslint, prettier, tsc

working skaffold dev
  BUILD.bazel
  bazel/js/examples/ts-own-packagejson/k8s/base/app.yaml
  bazel/js/examples/ts-own-packagejson/k8s/base/kustomization.yaml
  bazel/js/examples/ts-own-packagejson/k8s/local/kustomization.yaml
  devx/scripts/devenv.sh
  devx/scripts/minikube_running.sh
  flake.nix
  skaffold.yaml
Due: yaml

add readme for adding new service
  docs/adding-new-service.md
Due: none

cleanup
  .bazelrc
  BUILD.bazel
  bazel/container/BUILD.bazel
  bazel/container/exports.bzl
  bazel/container/workspace.bzl
  bazel/go/examples/go-image/Dockerfile
  bazel/go/examples/go-server/BUILD.bazel
  bazel/go/examples/go-server/k8s/base/app.yaml
  bazel/go/examples/go-server/k8s/base/kustomization.yaml
  bazel/go/examples/go-server/k8s/local/kustomization.yaml
  bazel/go/examples/go-server/main.go
  bazel/protobuf/BUILD.bazel
  bazel/protobuf/exports.bzl
  bazel/workspace.bzl
  devx/bin/README.md
  devx/bin/go
  devx/bin/node
  devx/bin/npm
  devx/bin/npx
  devx/bin/pnpm
  flake.nix
  skaffold.yaml
Due: golang, yaml

create skaffold.example.yaml
  skaffold.example.yaml
Due: yaml

Path conditions:
  gazelle: any of: \.go$ and \.proto$
  sqlfluff: any of: \.sql$, but not: .*sqlc.*.sql$
  sqlc: any of: \.sql$
  golang: any of: \.go$
  yaml: any of: \.(yaml|yml)$
  eslint: any of: \.(svelte|js|ts)$
  prettier: any of: \.(svelte|js|ts|json)$
  tsc: any of: \.(svelte|js|ts)$
