Repository a9b3/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gazelle, sqlfluff, sqlc, golang, yaml, eslint, prettier, tsc

.pre-commit-config.yaml:

---
repos:
  # Define our own hooks using repo "local". To use third party hooks you can
  # create a separate repo entry with it's github url.
  #
  # Valid types are found here
  # https://github.com/pre-commit/identify/blob/main/identify/extensions.py
  - repo: local
    hooks:
      - id: gazelle
        name: gazelle
        entry: './devx/pre-commit/gazelle-update.sh'
        language: system
        types: ['go', 'proto']
        pass_filenames: false
      - id: buildifier
        name: buildifier
        entry: 'bazel run //:buildifier'
        language: system
        types: ['bazel']
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: './devx/pre-commit/sqlfluff-hook.sh'
        language: system
        types: ['sql']
        # Until there's an easy way to configure sqlfluff to support sqlc files
        # we will have to exclude sqlc files from being linted.
        # https://github.com/sqlfluff/sqlfluff/issues/2108
        exclude: '.*sqlc.*.sql$'
        pass_filenames: true
      - id: sqlc
        name: sqlc
        entry: './devx/pre-commit/sqlc-hook.sh'
        language: system
        types: ['sql']
        pass_filenames: true
      - id: golang
        name: golang
        entry: './devx/pre-commit/golang-hook.sh'
        language: system
        types: ['go']
        pass_filenames: true
      - id: yaml
        name: yaml
        entry: './devx/pre-commit/yaml-hook.sh'
        language: system
        types: ['yaml']
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: './devx/pre-commit/eslint-hook.sh'
        language: system
        files: \.(svelte|js|ts)$
        types: [file]
        pass_filenames: true
      - id: prettier
        name: prettier
        entry: './devx/pre-commit/prettier-hook.sh'
        language: system
        files: \.(svelte|js|ts|json)$
        types: [file]
        pass_filenames: true
      - id: tsc
        name: tsc
        entry: './devx/pre-commit/tsc-hook.sh'
        language: system
        files: \.(svelte|js|ts)$
        types: [file]
        pass_filenames: true

flake
  flake.nix
  repos/auth/BUILD.bazel
  repos/auth/internal/rest/start.go
Due: golang

SAVEPOINT
  BUILD.bazel
  Makefile
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/workspace.bzl
  repos/examples/go_server/BUILD.bazel
  repos/examples/go_server/cmd/BUILD.bazel
  repos/examples/go_server/internal/rpc/BUILD.bazel
  repos/examples/go_server/internal/sqlc/models/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/web-daw/BUILD.bazel
Due: none

create skaffold.example.yaml
  skaffold.example.yaml
Due: yaml

move makeShell to make devenv
  Makefile
  devx/scripts/devenv.sh
  devx/scripts/start_podman.sh
  flake.nix
Due: none

working skaffold dev
  BUILD.bazel
  bazel/js/examples/ts-own-packagejson/k8s/base/app.yaml
  bazel/js/examples/ts-own-packagejson/k8s/base/kustomization.yaml
  bazel/js/examples/ts-own-packagejson/k8s/local/kustomization.yaml
  devx/scripts/devenv.sh
  devx/scripts/minikube_running.sh
  flake.nix
  skaffold.yaml
Due: yaml

leave comment for nixpkg url
  flake.nix
Due: none

add bazel alias to scaffold
  Makefile
  repos/scaffold/BUILD.bazel
Due: none

working js image for bazel
  .bazelrc
  MODULE.bazel
  bazel/go/examples/go-image/BUILD.bazel
  bazel/go/examples/go-image/Dockerfile
  bazel/go/examples/go-image/main.go
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/index.ts
  flake.nix
  package.json
Due: golang, eslint, prettier, tsc

working stuff
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  WORKSPACE
  bazel/container/exports.bzl
  bazel/go/exports.bzl
  bazel/js/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-bin-with-dep/package.json
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/js/exports.bzl
  devx/bin/pnpm
  repos/examples/go_server/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/examples/ts-lib/BUILD.bazel
  repos/web-daw/BUILD.bazel
Due: prettier

start go lang support
  MODULE.bazel
  bazel/go/BUILD.bazel
  bazel/go/workspace.bzl
  repos/auth/cmd/server/BUILD.bazel
  repos/auth/cmd/server/main.go
  repos/examples/go_server/BUILD.bazel
Due: golang

fix some go stuff
  .bazelrc
  docs/go.md
  docs/js.md
  repos/examples/go_server/Makefile
  repos/examples/go_server/cmd/root.go
  repos/examples/go_server/internal/rpc/person.go
  repos/examples/go_server/internal/sqlc/models/models-proto.go
  repos/examples/go_server/main.go
  repos/finance-data/README.md
  skaffold.yaml
Due: golang, yaml

add daw-core daw-fe
  repos/daw-core/README.md
  repos/daw-core/package.json
  repos/daw-core/src/index.ts
  repos/daw-fe/.eslintignore
  repos/daw-fe/.eslintrc.cjs
  repos/daw-fe/.gitignore
  repos/daw-fe/.npmrc
  repos/daw-fe/.prettierignore
  repos/daw-fe/.prettierrc
  repos/daw-fe/README.md
  repos/daw-fe/package-lock.json
  repos/daw-fe/package.json
  repos/daw-fe/src/app.d.ts
  repos/daw-fe/src/app.html
  repos/daw-fe/src/routes/+page.svelte
  repos/daw-fe/static/favicon.png
  repos/daw-fe/svelte.config.js
  repos/daw-fe/tsconfig.json
  repos/daw-fe/vite.config.ts
Due: eslint, prettier, tsc

SAVEPOINT
  .bazelrc
  .bazelversion
  .envrc
  .npmrc
  MODULE.bazel
  bazel/js/README.md
  bazel/js/examples/ts-node-image/BUILD.bazel
  bazel/js/examples/ts-node-image/index.ts
  bazel/js/examples/ts-own-packagejson/BUILD.bazel
  bazel/js/examples/ts-own-packagejson/README.md
  bazel/js/examples/ts-own-packagejson/index.ts
  bazel/js/examples/ts-own-packagejson/package.json
  bazel/js/exports.bzl
  devx/bin/pnpm
  flake.nix
  pnpm-lock.yaml
Due: yaml, eslint, prettier, tsc

working ts bin
  BUILD.bazel
  WORKSPACE.bzlmod
  bazel/js/examples/js-bin-with-dep/BUILD.bazel
  bazel/js/examples/js-lib-consumer/BUILD.bazel
  bazel/js/examples/js-lib/BUILD.bazel
  bazel/js/examples/ts-bin/BUILD.bazel
  bazel/js/examples/ts-bin/index.ts
  bazel/js/exports.bzl
  tsconfig.json
  tsconfig.svelte.json
Due: eslint, prettier, tsc

fix stuck on machine start
  devx/scripts/start_podman.sh
  flake.nix
Due: none

cleanup
  .bazelrc
  BUILD.bazel
  bazel/container/BUILD.bazel
  bazel/container/exports.bzl
  bazel/container/workspace.bzl
  bazel/go/examples/go-image/Dockerfile
  bazel/go/examples/go-server/BUILD.bazel
  bazel/go/examples/go-server/k8s/base/app.yaml
  bazel/go/examples/go-server/k8s/base/kustomization.yaml
  bazel/go/examples/go-server/k8s/local/kustomization.yaml
  bazel/go/examples/go-server/main.go
  bazel/protobuf/BUILD.bazel
  bazel/protobuf/exports.bzl
  bazel/workspace.bzl
  devx/bin/README.md
  devx/bin/go
  devx/bin/node
  devx/bin/npm
  devx/bin/npx
  devx/bin/pnpm
  flake.nix
  skaffold.yaml
Due: golang, yaml

fix command line errors
  WORKSPACE
  devx/scripts/exports.bzl
  flake.nix
  repos/examples/go_server/BUILD.bazel
  repos/examples/ts-lib-consumer/BUILD.bazel
  repos/examples/ts-lib/BUILD.bazel
Due: none

stil doesn't work
  MODULE.bazel
  bazel/js/examples/ts-node-image/BUILD.bazel
Due: none

fix gazelle
  MODULE.bazel
  flake.lock
  flake.nix
  repos/auth/cmd/server/main.go
Due: golang

try to fix gazelle
  BUILD.bazel
  MODULE.bazel
  repos/auth/cmd/server/BUILD.bazel
  repos/examples/go_server/BUILD.bazel
  repos/examples/go_server/cmd/BUILD.bazel
  repos/examples/go_server/internal/rpc/BUILD.bazel
  repos/examples/go_server/internal/sqlc/models/BUILD.bazel
  repos/examples/proto/BUILD.bazel
  repos/finance-data/cmd/BUILD.bazel
  repos/finance-data/cmd/main.go
Due: golang

add readme for adding new service
  docs/adding-new-service.md
Due: none

working
  .bazelrc
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  README.md
  bazel/js/BUILD.bazel
  devx/scripts/devenv.sh
  docs/go.md
  docs/js.md
  flake.nix
  repos/auth/cmd/server/BUILD.bazel
  repos/auth/cmd/server/main.go
Due: golang

cleanup
  WORKSPACE
Due: none

upgrade bazel 6
  .bazelversion
  .envrc
Due: none

fix: imports
  repos/web-daw/src/components/Finder.svelte
Due: eslint, prettier, tsc

fix: working go-image example with tests
  bazel/go/examples/go-image/BUILD.bazel
  bazel/go/examples/go-image/image_test.sh
  bazel/go/examples/go-image/main_test.go
Due: golang

chore: update readme for /bazel
  bazel/README.md
Due: none

chore: use reexports
  bazel/go/examples/go-image/BUILD.bazel
Due: none

feat(bazel): add server_image_package
  bazel/image/BUILD.bazel
  bazel/image/exports.bzl
  bazel/image/server_image_package.bzl
  bazel/image/server_image_test/BUILD.bazel
  bazel/image/server_image_test/server_image_test.bzl
  bazel/image/server_image_test/test_image.sh
Due: none

feat(bazel): go bazel stuff works
  bazel/go/BUILD.bazel
  bazel/go/examples/go-image/BUILD.bazel
  bazel/go/examples/go-image/image_test.sh
  bazel/go/examples/go-image/main.go
  bazel/go/examples/go-image/main_test.go
  bazel/go/examples/go-server/BUILD.bazel
  bazel/go/examples/go-server/main_test.go
  bazel/go/exports.bzl
  bazel/image/server_image_package.bzl
Due: golang

feat(bazel): upgrade bazel version to 6.5.0
  .bazelversion
Due: none

chore: unused path
  .envrc
Due: none

chore(bazel): unused bazel flag
  .bazelrc
Due: none

fix(bazel): use_repo for platform base images
  MODULE.bazel
Due: none

chore(readme): update formatting
  README.md
Due: none
