Repository a9b3/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gazelle, sqlfluff, sqlc, golang, yaml, eslint, prettier, tsc

.pre-commit-config.yaml:

---
repos:
  # Define our own hooks using repo "local". To use third party hooks you can
  # create a separate repo entry with it's github url.
  #
  # Valid types are found here
  # https://github.com/pre-commit/identify/blob/main/identify/extensions.py
  - repo: local
    hooks:
      - id: gazelle
        name: gazelle
        entry: './devx/pre-commit/gazelle-update.sh'
        language: system
        types: ['go', 'proto']
        pass_filenames: false
      - id: buildifier
        name: buildifier
        entry: 'bazel run //:buildifier'
        language: system
        types: ['bazel']
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: './devx/pre-commit/sqlfluff-hook.sh'
        language: system
        types: ['sql']
        # Until there's an easy way to configure sqlfluff to support sqlc files
        # we will have to exclude sqlc files from being linted.
        # https://github.com/sqlfluff/sqlfluff/issues/2108
        exclude: '.*sqlc.*.sql$'
        pass_filenames: true
      - id: sqlc
        name: sqlc
        entry: './devx/pre-commit/sqlc-hook.sh'
        language: system
        types: ['sql']
        pass_filenames: true
      - id: golang
        name: golang
        entry: './devx/pre-commit/golang-hook.sh'
        language: system
        types: ['go']
        pass_filenames: true
      - id: yaml
        name: yaml
        entry: './devx/pre-commit/yaml-hook.sh'
        language: system
        types: ['yaml']
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: './devx/pre-commit/eslint-hook.sh'
        language: system
        files: \.(svelte|js|ts)$
        types: [file]
        pass_filenames: true
      - id: prettier
        name: prettier
        entry: './devx/pre-commit/prettier-hook.sh'
        language: system
        files: \.(svelte|js|ts|json)$
        types: [file]
        pass_filenames: true
      - id: tsc
        name: tsc
        entry: './devx/pre-commit/tsc-hook.sh'
        language: system
        files: \.(svelte|js|ts)$
        types: [file]
        pass_filenames: true

active playing visuals
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepSequencer.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/store/editor.ts
Due: eslint, prettier, tsc

sound meter
  repos/web-daw/src/components/Meter/Meter.svelte
  repos/web-daw/src/components/Meter/StereoMeter.svelte
  repos/web-daw/src/daw/Analyser.ts
  repos/web-daw/src/daw/Channel.ts
  repos/web-daw/src/daw/RMS.ts
  repos/web-daw/src/pages/Project/track/Track.svelte
  repos/web-daw/src/utils/rafInterval.ts
Due: eslint, prettier, tsc

sound meter for master
  repos/web-daw/src/components/Meter/StereoMeter.svelte
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/track/Master.svelte
Due: eslint, prettier, tsc

fixup
  repos/web-daw/src/pages/Project/TopToolbar.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
Due: eslint, prettier, tsc

cleanup
  repos/web-daw/src/components/Directory.svelte
  repos/web-daw/src/components/DirectoryTree.svelte
  repos/web-daw/src/components/LabeledSection.svelte
  repos/web-daw/src/components/Meter.svelte
  repos/web-daw/src/components/Meter/Meter.svelte
  repos/web-daw/src/components/SelectableRow.svelte
  repos/web-daw/src/components/window/TopBar.svelte
  repos/web-daw/src/daw/ClipTrack.ts
  repos/web-daw/src/daw/Track.ts
  repos/web-daw/src/pages/Project/Finder.svelte
  repos/web-daw/src/pages/Project/LeftPanel.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/pages/Project/track/Master.svelte
  repos/web-daw/src/pages/Project/track/Send.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
  repos/web-daw/src/store/files.ts
  repos/web-daw/src/utils/styles.ts
Due: eslint, prettier, tsc

sample next to sequencer
  repos/web-daw/src/components/MPC/MPC.svelte
  repos/web-daw/src/daw/Controller.ts
  repos/web-daw/src/pages/Project/TopToolbar.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
Due: eslint, prettier, tsc

update url
  repos/web-daw/src/daw/SoundSource.ts
  repos/web-daw/src/store/files.ts
Due: eslint, prettier, tsc

delete gifs
  flake.nix
  repos/web-daw/src/assets/players/6.webp
  repos/web-daw/src/assets/players/basketballrage.gif
  repos/web-daw/src/assets/players/geng.gif
  repos/web-daw/src/assets/players/wobo.gif
Due: none

comment out pre-commit
  flake.nix
Due: none

Update README.md
  README.md
Due: none

auto save projects
  repos/web-daw/src/components/tabBar/Tab.svelte
  repos/web-daw/src/database/project.ts
  repos/web-daw/src/daw/Project.ts
  repos/web-daw/src/daw/Scheduler.ts
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/TopToolbar.svelte
  repos/web-daw/src/pages/Project/editors/stepSequencer/StepSequencer.svelte
  repos/web-daw/src/utils/SvelteStore.ts
Due: eslint, prettier, tsc

fix control bar
  repos/web-daw/src/daw/Controller.ts
  repos/web-daw/src/daw/Mixer.ts
  repos/web-daw/src/daw/Project.ts
  repos/web-daw/src/daw/SoundSource.ts
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/TopToolbar.svelte
Due: eslint, prettier, tsc

move to public
  repos/web-daw/public/icons/arrow-down-s-fill.svg
  repos/web-daw/public/icons/arrow-down-s-line.svg
  repos/web-daw/public/icons/arrow-left-s-fill.svg
  repos/web-daw/public/icons/arrow-left-s-line.svg
  repos/web-daw/public/icons/arrow-right-s-fill.svg
  repos/web-daw/public/icons/arrow-right-s-line.svg
  repos/web-daw/public/icons/arrow-up-s-fill.svg
  repos/web-daw/public/icons/arrow-up-s-line.svg
  repos/web-daw/public/icons/close-line-1.svg
  repos/web-daw/public/icons/close-line.svg
  repos/web-daw/public/icons/dashboard-fill.svg
  repos/web-daw/public/icons/empty.png
  repos/web-daw/public/icons/eye-fill-1.svg
  repos/web-daw/public/icons/eye-fill.svg
  repos/web-daw/public/icons/file-fill.svg
  repos/web-daw/public/icons/file-line.svg
  repos/web-daw/public/icons/folder-fill.svg
  repos/web-daw/public/icons/folder-line.svg
  repos/web-daw/public/icons/heart-fill.svg
  repos/web-daw/public/icons/heart-line.svg
  repos/web-daw/public/icons/music-fill.svg
  repos/web-daw/public/icons/music-line.svg
  repos/web-daw/public/icons/play.svg
  repos/web-daw/public/icons/search-line-1.svg
  repos/web-daw/public/icons/search-line.svg
  repos/web-daw/public/icons/stop.svg
  repos/web-daw/src/components/Icon.svelte
Due: eslint, prettier, tsc

project stuff
  repos/web-daw/src/database/project.ts
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/store/project.ts
Due: eslint, prettier, tsc

save project color emoji
  pnpm-lock.yaml
  repos/web-daw/package.json
  repos/web-daw/src/components/players/Player.svelte
  repos/web-daw/src/components/players/player.ts
  repos/web-daw/src/components/tabBar/Tab.svelte
  repos/web-daw/src/database/project.ts
  repos/web-daw/src/daw/Project.ts
  repos/web-daw/src/daw/Track.ts
  repos/web-daw/src/pages/Dashboard/Dashboard.svelte
  repos/web-daw/src/pages/Dashboard/ProjectCard.svelte
Due: yaml, eslint, prettier, tsc

add build file
  repos/web-daw/BUILD.bazel
Due: none

add terraform modules for helping static site deploys
  libs/tf_modules/aws_cert/README.md
  libs/tf_modules/aws_cert/main.tf
  libs/tf_modules/aws_cert/outputs.tf
  libs/tf_modules/aws_cert/variables.tf
  libs/tf_modules/static_sites/README.md
  libs/tf_modules/static_sites/index.js.tpl
  libs/tf_modules/static_sites/main.tf
  libs/tf_modules/static_sites/outputs.tf
  libs/tf_modules/static_sites/variables.tf
Due: none

update entry script
  flake.nix
  terraform/README.md
Due: none

update terraform
  terraform/README.md
  terraform/lllllllll.link/route53/main.tf
  terraform/lllllllll.link/route53/terragrunt.hcl
  terraform/lllllllll.link/terragrunt.hcl
Due: none

deploy web-daw
  devx/bin/deploy-static-site
  docs/nix.md
  flake.nix
  libs/tf_modules/aws_cert/main.tf
  libs/tf_modules/static_sites/.gitignore
  libs/tf_modules/static_sites/README.md
  libs/tf_modules/static_sites/main.tf
  repos/web-daw/BUILD.bazel
  repos/web-daw/package.json
  terraform/lllllllll.link/certs/main.tf
  terraform/lllllllll.link/certs/terragrunt.hcl
  terraform/lllllllll.link/region.hcl
  terraform/lllllllll.link/static_sites/main.tf
  terraform/lllllllll.link/static_sites/terragrunt.hcl
Due: prettier

add a redirect
  repos/scaffold/main.go
  repos/scaffold/templates/terraform-template/main.tf
  repos/scaffold/templates/terraform-template/terragrunt.hcl
  repos/web-daw/src/components/AppShell.svelte
  repos/web-daw/src/components/RouteRedirect.svelte
  repos/web-daw/src/components/tabBar/Tab.svelte
  repos/web-daw/src/components/tabBar/TabBar.svelte
  repos/web-daw/src/pages/Dashboard/Dashboard.svelte
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/store/dashboard.ts
  repos/web-daw/src/store/url.ts
Due: golang, eslint, prettier, tsc

cleanup
  repos/web-daw/src/components/AppShell.svelte
  repos/web-daw/src/components/Icon.svelte
  repos/web-daw/src/components/IconButton.svelte
  repos/web-daw/src/components/Layout.svelte
  repos/web-daw/src/components/Linebreak.svelte
  repos/web-daw/src/components/Text.svelte
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/pages/Dashboard/Dashboard.svelte
  repos/web-daw/src/pages/Dashboard/ProjectCard.svelte
  repos/web-daw/src/pages/Dashboard/Recent/FilterSort.svelte
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/utils/styles.ts
Due: eslint, prettier, tsc

grid line view
  repos/web-daw/public/icons/add-line.svg
  repos/web-daw/public/icons/grid-fill.svg
  repos/web-daw/public/icons/list-check.svg
  repos/web-daw/src/components/Icon.svelte
  repos/web-daw/src/components/IconButton.svelte
  repos/web-daw/src/pages/Dashboard/ProjectRow.svelte
  repos/web-daw/src/pages/Dashboard/Recent/FilterSort.svelte
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/store/dashboard.ts
Due: eslint, prettier, tsc

quick hack fix
  repos/web-daw/src/components/RouteRedirect.svelte
Due: eslint, prettier, tsc

remove favicon
  repos/web-daw/index.html
Due: none

cleanup
  repos/web-daw/src/components/SelectInput.svelte
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/daw/index.ts
  repos/web-daw/src/pages/Dashboard/ProjectCard.svelte
  repos/web-daw/src/pages/Dashboard/ProjectRow.svelte
  repos/web-daw/src/pages/Dashboard/Recent/FilterSort.svelte
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/store/dashboard.ts
  repos/web-daw/src/store/editor.ts
  repos/web-daw/src/store/index.ts
  repos/web-daw/src/store/project.ts
Due: eslint, prettier, tsc

fix scroll finder
  repos/web-daw/src/components/Layout.svelte
  repos/web-daw/src/pages/Project/LeftPanel.svelte
  repos/web-daw/src/pages/Project/Project.svelte
Due: eslint, prettier, tsc

cleanup
  repos/web-daw/src/pages/Project/LeftPanel.svelte
  repos/web-daw/src/store/files.ts
Due: eslint, prettier, tsc

some helpers
  repos/web-daw/src/pages/Dashboard/Recent/Recent.svelte
  repos/web-daw/src/pages/Project/NewTrackHelper.svelte
  repos/web-daw/src/pages/Project/Project.svelte
Due: eslint, prettier, tsc

ui polish
  repos/web-daw/src/pages/Dashboard/ProjectCard.svelte
  repos/web-daw/src/pages/Dashboard/ProjectRow.svelte
  repos/web-daw/src/pages/Project/NewTrackHelper.svelte
Due: eslint, prettier, tsc

fix channel meter bug
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/track/Track.svelte
Due: eslint, prettier, tsc

ui improvements
  repos/web-daw/src/components/window/Window.svelte
  repos/web-daw/src/daw/ClipTrack.ts
  repos/web-daw/src/pages/Project/Project.svelte
  repos/web-daw/src/pages/Project/track/Clip.svelte
  repos/web-daw/src/utils/mousePosition.ts
Due: eslint, prettier, tsc

fix layout
  repos/web-daw/src/components/Layout.svelte
Due: eslint, prettier, tsc

add vol slider
  repos/web-daw/src/components/Slider/Slider.svelte
  repos/web-daw/src/components/Slider/useSlider.ts
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/pages/Project/track/Track.svelte
Due: eslint, prettier, tsc

add pan knob
  repos/web-daw/src/components/Knob/Knob.svelte
  repos/web-daw/src/components/Knob/useDelta.ts
  repos/web-daw/src/components/index.ts
  repos/web-daw/src/pages/Project/track/Track.svelte
Due: eslint, prettier, tsc

add to master
  repos/web-daw/src/pages/Project/track/Master.svelte
Due: eslint, prettier, tsc
